/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 390px;

// Small tablets
$screen-md-min: 834px;

// Large tablets and small desktops
$screen-lg-min: 1280px;

// Large desktops
$screen-xl-min: 1440px;

// Colors
$sacramento-state-green: #0A2F32;
$cultured: #F7F9EE;
$dark-electric-blue: #4E7276;
$japanese-indigo: #1E4648;
$pale-goldenrod: #DEE7B0;
$rite-of-spring: #FFECA8;
$white: #FFFFFF;
$cultured-75: #F7F9EEBF;

