.cafe_hero {
    text-align: justify;
    letter-spacing: 0.05em;
    width: 85%;
    max-width: 800px;
    line-height: 150%;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 48px;

    @include lg {
        font-size: 18px;
    }
}

.hero_cafe {
    width: 100%;
    height: auto;

    @include lg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        max-width: 824px;
    }
}

.cafe_title {
    display: none;

    @include md {
        display: block;
        text-align: center;
        padding-top: 48px;
        font-weight: 500;
    }

    @include lg {
        font-size: 72px;
    }
}