.newsletter {
    background-color: rgba(247, 249, 238, 0.75);
    padding: 45px;
}

.background {
    padding: 24 px 32px;
    background-image: url('../img/newsletter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}